<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      table{
        border: 3px solid blue;

      }
    </style>
  </head>
  <body>
    <h1>Students Table</h1>
    <table>
      <thead>
          <th>Id</th>
          <th>firstname</th>
          <th>lastname</th>
          <th>score</th>
      </thead>
      {% for stu in student %}
      <tr>
        <td>{{stu.id}}</td>
        <td>{{stu.firstname}}</td>
        <td>{{stu.secondname}}</td>
        <td>{{stu.testscore}}</td>
      </tr>
      {% endfor %}
    </table>
<br/>
 <a href="/createstudent"></a>
  </body>
</html>
